@import './color.css';

.header {
    background-color: #c7c4c4;


}

.header .baris-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .akun {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 30px;
    height: 30px;
    border-radius: 90px;
}